# This config file and main wresl file must be placed in the same directory "RUN"

Begin Config
MainFile               run\mainCONV_30_SA.wresl # this is comment
Solver                 XA    
DvarFile               "DSS\DV_config.dss"
SvarFile               "..\common\DSS\CalSim30_10_SV.dss"
SvarAPart              CALSIM  
SvarFPart              CalSim30_10
InitFile               "..\common\DSS\CalSim30_10Init.dss" 
InitFPart              CalSim30_10 
TimeStep               1MON
StartYear              1921
StartMonth             10 
NumberOfSteps			3
GroundwaterDir         ..\common\CVGroundwater\Data\
ShowWreslLog		   yes # another comment
SendAliasToDvar        No
PrefixInitToDvarFile   No

IlpLog                 Yes
IlpLogFormat           CplexLp
IlpLogVarValue         No 


End Config



